<h1>Editing tipo vivienda</h1>

<%= render "form", tipo_vivienda: @tipo_vivienda %>

<br>

<div>
  <%= link_to "Show this tipo vivienda", @tipo_vivienda %> |
  <%= link_to "Back to tipo viviendas", tipo_viviendas_path %>
</div>
